/* BASE */

* {
  box-sizing: border-box;
}

html {
  font-family: 'impact', 'notoSansJP', 'ubuntu', sans-serif;
  /* height: 100vh; */
}

body {
  background-color: antiquewhite;
  margin: 0;
  /* height: inherit; */
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* font-weight: normal; */
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 200px;
}
