/* BASE */

* {
  box-sizing: border-box;
}

html {
  font-family: 'impact', 'notoSansJP', 'ubuntu', sans-serif;
}

body {
  background-color: antiquewhite;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* font-weight: normal; */
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
}
