/* COMPONENTS */

.meme-canvas {
  border: 1px solid black;
}

.saved-memes-container {
  display: none;
}

.logo {
  user-select: none;
  color: #fdb556;
  text-shadow: 2px 2px #6b5333;
  font-size: 2rem;
}

.main-nav a:hover {
  color: #333;
}

.icon {
  max-width: 30px;
}

button {
  background-color: #fff;
  border-radius: 4px;
  padding: 4px;
  border: 2px solid black;
}

button:hover {
  background-color: #eee;
}

.btn-menu {
  background-color: #fdb556;
  color: #fff;
}

.btn-menu:hover {
  color: #fdb556;
  background-color: #fff;
}

select[name='font-select'] option {
  background-color: #faebd7;
}

input[type='color'] {
  opacity: 0;
  width: 42px;
  height: 45px;
}

.color-picker {
  width: 42px;
  height: 45px;
}

.download {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-size: 13.3px;
  border: 2px solid black;
}

.download:hover {
  background-color: #eee;
}
