/* COMPONENTS */

.meme-canvas {
  border: 1px solid black;
}

header,
footer {
  height: 120px;
}

.logo {
  user-select: none;
  color: #fdb556;
  text-shadow: 2px 2px #6b5333;
  font-size: 2rem;
}

.main-nav a:hover {
  color: #333;
}

.editor-container {
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

.gallery-container {
  padding: 20px 0px;
}

.icon {
  /* width: 50px;
  height: 50px; */
  max-width: 30px;
}

button {
  background-color: #fff;
  border-radius: 4px;
  padding: 4px;
}

.color-picker {
  width: 42px;
  height: 45px;
}

button:hover {
  background-color: #eee;
}

.btn-menu {
  background-color: #fdb556;
  color: #fff;
}

.btn-menu:hover {
  color: #fdb556;
  background-color: #fff;
}

s .main-nav a {
  width: 100%;
}

li {
  display: flex;
  justify-content: center;
}

input[name='text-line'] {
  /* background-color: red; */
  padding: 10px;
}

select[name='lang-select'] {
  padding: 10px;
}

/* continue here */

input[type='color'] {
  opacity: 0;
  border: none;
  /* visibility: hidden; */
}

input[type='color']:focus {
  outline: none;
}

footer {
  background-color: #ffd195;
  color: black;
  font-size: 1.1rem;
  /* fix here.  */
  margin-top: 176px;
}
